.idea
.vscode
test_data_dir/
contracts/*
environments/*.toml
Vagrantfile
vagrant*.sh
.vagrant
test_scripts/
vulcanizedb.log
db/migrations/00*.sql
vdb-mcd-transformers
vdb-mcd-transformers.log
.DS_Store
