dist: trusty
language: go
go:
- 1.14
services:
- postgresql
- docker
addons:
  postgresql: '11.6'
go_import_path: github.com/makerdao/vdb-mcd-transformers
before_install:
- make installtools
- bash ./scripts/install-postgres-11.sh
- sudo apt-get update && sudo apt-get install python3-pip -y
- sudo pip3 install awscli
- docker build -f dockerfiles/gomoderator/Dockerfile .
script:
- scripts/check_config.sh
- env GO111MODULE=on make test
- env GO111MODULE=on make integrationtest
deploy:
- provider: script
  script: bash ./.travis/deploy.sh staging
  on:
    branch: staging
- provider: script
  script: bash ./.travis/deploy.sh prod
  on:
    branch: master
notifications:
  email: false
env:
  matrix:
    secure: grptfgF1K2cGb0umoR8XmBwGGEYxa0xu4qxoB31PsAuR5AVi8G5w/8C9sOQUC9bVz7xDaY08i0DXKqzGMyn4YcyXILnECY2V9Nki+EGpRTM5QCyZMpgRqRYRsuy+0d5bf9qK8LFD1fmQMUtjvULoJlUFMTObs//ZJFT5dxnPkwFmDTh2IfH+3xzd53gTuMtJcPfkoqruNckH2z73H025zASMdJe1muUaq05DuI2HEmNKATyHG3xGCj/kLiD8Lx0qT9OwMjLOwJaq2f6aZcbJ56W0gMmw3BLBrXEHPkEPR+dZvRqys8gh+Ga02RPsZNMyQ5dh1ec71zb8mWrBvJTT4uT78g5CwEjpgcBKpo+Yn74t2cWAAiXC3mcvG5Qv1q3X6eDL+dZgdN1oD3tsgCqyhtt72qqukDCcXF7y+SVm2+Bl9LcDkPMURQG3r14E5VV6W1oncTwxRO9c7qpRlcb6hU1A/OP7YwFagviyD68EKXgMPSarCRCEw1KhQ9eR75QIHyFVqxFLT0t5clQfKCifzCGkfmDR5U/rcPzKVrE4uhIUfC7pblpLQIUU/+1bTKBttcuV9/Fu8A28ldaee2hJ2MuqqZgNo0oQ9B4w7V6GaQYgbYiB/SSIC7OUeGuh4pbX3oQyApNtdLMWqXu01+LHg4mRltRQdmHQIMD9scVutN4=
  global:
  - secure: IBd+gNPp4irMZrC5Aq417U9IBO1alfzkRfmfAArKOCIxmBqqAQvw/Rd2jSowVdxryOByLGWruJtWlXyam6mW8w2j3nZb9XuQOKPCKyu+Yn1ukprl2iT8fH8iE3T8UCP/l/dnXTrpNu5wyHvBMMVgk/pH4khzaiI4VevA30UiS4tyrdA0chml5rDZxi/ylMBxD4/eNnutEDjq7kPqjRoW5uGAv3eUFuKWu1mkSRo9rlSMM3j7VAEArbNFc01n16QfTUsvPXB0gmvJWLQJX/w8fP5PaYHcER1NQ3yZYBtPRzF9CmlJa2LawWpPwPaN2ZDWq9wEm9LlSy0J8i/MoxWwj9RP7E4Y50JhhRTabiUViwjxRNLDVuR/sSdGd6hBRUwKhqplsbLeRUKBRFNVawEnFO6xAUtUSI8S/3rx9oR8U6P+xCCTfcCewN6aI2pFfF9twaviz3NXavo+LAF1bDqdWLvEgBgINlJVtUW+W0ppzqtX+AB+xTI1vCfPTodrxa9UCq7XMtwVAfjQL0VuamK4ORq0BSXsLXtn4HLmy7a4eogfNKbb1QjfGe3IqpwI6vDidWXLnB9pTKXHMwDjoNJEFATrgJHipsDT10EHl6et8T9Rhv6P/k3gCK0JJ4PXqBB+8tsoZXaVp8Cd2592M2UUqLXfdQ52QVXij5bqt1cWiQY=
  - secure: Y2cGN2/LwwiWZpbsJHXQ1dbCRbIxcd8OhE8lzuKHdJr/auNAy2TX9mc5vqlelVKjQStyg+Mz7zvLZfqBMC0JfhNiKECO2mTXbuT437pCVCyr0NhqTtZcnvW4IbNOWi0BrmS4fPMGcEnLRCER/Xh8rRS59SpdXc+ZyMWkOkulNMrWTKF2BkFqyjHKbzVs6ESik8Z0zANYHayB95BePvaGT5Y1mInnbaw9sl0QM+O3qsMwgz8n8xr4qHZp6I+UtSzNOhRBhP120q+Dz+dtrrWlHFCQRIngilwfVGclgycoqNYj77P08GKGrJEUR0A9TNYdvTkFRHdLJ777+dkWhTyaWZR1DYWGfF28C50RW/dLdgbDU9iJ8i+uyUAsy3Hx4ch7YMmSvADXRFmoIJrd+E+uhqiPAIDpntNQh3BJrK72fPQtlwMN68JUjiU0zKxdg/Iee3vN7y3L2i2GUk8aQ1a276l4Mtfrg4jlnhxh39GAwNuOFT33htWpTzrTygJ6XXkE9gMcZJtcXn7eWjCp8g9YhGUEGTxN+iApZqTR628PWrArnaZP1M10Fc2e3Z39lwCM9oDkvxCNLnttp6plVD7YkstaHJSN1eRt7QbNAnRKt/gj0EPQCyYP/zgYvh7Yxap8dx8htiuHJhtB/jwtl3BYhaevcG7Yw0LCfAESJg5sYP4=
  - secure: GqHzQ8kewEiyY59QhdE7DXdD7c8lB9eb307fMxMjF9zOcPqvmGIemzmNwEFkSlIAXGTOaplaY3xRnuJeqhAR99tWNimnqkaa105jREifMGfLawe0pylXZ2RKwbVMiSh1em0Rs2PnzMQHZ+SLrHdniOHUbqlRKa740OditSLQMXLeY85xz+908ZOEbxyg8YXVSkJmFykRln5fgpJ1nerSpoofktHM6xmPRr/HuK/EL3j0pd2oujNaDXSmEYefKAAi3N8eIM/znQ7ergfCQPIPGD/gI3e8g9rYWDg6oWhEjTkeL5Nu6Vtx7gj9oAxUncHGrW+0cm9XqmSCdF8tJN2XBTxqotnyANYd1bOZT5C5++dqPy+KicUChsLczZ372D9PePW6Lyztgx5dGJt/CkyMgTxyfBfW99ERpsGYa1zgQnxOLiyWGBNhbWrfrijCTTncc7M4GBJr+SirOkgOY3PzHn8yERXPi053w819SfR9ArBjMc5wwjHh/6DPi/6wH1HnO4jdogeeTliJA1ZzVi4q6S5TLPg6e9GLf4fbMmbljUbXK0b9pxekfPmM8YWCLGY8Ed8kPZHrH5BOZVFOU2GF7VD5sLkInpeZDnW6+NUuUJl1LwwNwJRHdR6ZFEol0EWzPJV/Dib51os+VNz5l6gAbtKnoN/pjep2226HYgYmx80=
  - secure: gzTfJq3AUNVF6bq4LD9pYVxxl8Q/C7w37UYn0dsWkyyXYxDGlebAO/Y27+FKSWSUZ/INVz+GJdVUd71oohti3fNv9KQ1vgrm2UcvZgiAp1lVCwDnaWPZGy9QmCvGwuUJtphJgR6p5wvrg99JVwm+giLrndd6pjoI7kWbYnpaekaPl4SFCLrgedU36I7i8MlD+eOCZG+1jWJD69vMZ3/pFNmLwlLgmY9UfsGzNRkdJIU0K3lpaQlsCR5hNBraEzTiK1hNuF9gKAa1IYOJi8ajftcKfjpV8kQOa7P/zaUpudpM2tFipDVFVbH70tuUUGG6QMDpClFO8+Lo8srXOskVsLLSXzaZRZV3ZuuJcDLgrMVAR5zUiOxbSoHH4pOaiwKIG3GHDwMW5KF6JEhQDnvsmNjhq2W8aP76h1AlCDQTxYfeCYwqO479IbkgHORwg+5EQGU4Qu6bfBrj8cr9Kba24Bhf+NzOb9S2QxU++J/KTWm3K+4MI8aK0q4L93NcRS8lIiPz2SYgV6vd8rKeLM0qgrbZAbdC6JFtvZA6vGqPou+ULJORydsh08lb43ahRrC1JGuG3Nsocztokob9/sAQ0pcF2zGYUF1QxvzpBV1GSnolgcY4Hy4giUk+nhpesJSJAorrCJ0qVdjBCzq2bQqXuviY3uwpFmpMwBighPbMjrE=
